/* Omat tyylimääritykset */

.nav-bg-custom {
	background-color: white;
}
.bg-custom {
	background-color: #F6EEE9;
}
.roots{

	color: black;
}
.juurelle{

	color: black;
}
.mainpage-own{
	margin-top: 60px;
	display: flex;
	justify-content: center;
}
.frontpage-video-container {
	max-width: 250px;
	max-height: 150px;
	width: 250px;
	height: 150px;
}
.own-container{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.img-container{
	display: flex;
	justify-content: center;
	width: 30%;
	margin-top: 15px;
}

#map { width: 300px; 
		height: 400px; }

p{
	text-align: center;
}

.img-rounded-custom{
	border-radius: 50%;
}

.kayak{
	margin-top: 50px;
	min-width: 200px;
	margin-bottom: 50px;
}

.frozen-wave{
	margin-top: 50px;
	margin-bottom: 50px;
}