/* Omat tyylimääritykset */

.nav-bg-custom {
	background-color: white;
}
.bg-custom {
	background-color: #F6EEE9;
}
.roots{

	color: black;
}
.juurelle{

	color: black;
}
.mainpage-own{
	margin-top: 60px;
	display: flex;
	justify-content: center;
}

.container{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

#map { position: absolute; top: 0; bottom: 0; width: 100%; }

p{
	text-align: center;
}

.img-rounded-custom{
	border-radius: 50%;
}
